@model SolucaoSimpar2.Models.Viagem

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataViagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataViagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KmTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KmTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motorista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motorista.MotoristaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ViagemId">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
